<main>
    <!-- Hero Section -->
    <section class="hero">
        <img src="../assets/children.jpg" alt="Happy children">
        <div class="hero-content">
            <h1>Transparent Giving, Tangible Impact</h1>
            <p>Connecting donors and recipients for practical assistance.</p>
            <%= link_to 'Start Giving', (user_signed_in? ? search_path : new_user_session_path), class: 'btn' %>
        </div>
    </section>

    <!-- About Section -->
    <section class="about">
        <h2>About Our Platform</h2>
        <p>Giver and Taker is dedicated to fostering a community of transparent giving. Our platform allows donors to provide tangible items directly to those in need, ensuring that every contribution makes a real difference.</p>
    </section>
</main>
