<!-- <p>forgot works!</p> -->
<!-- Forgot Password Form -->
<div class="auth-container-wrapper">
  <div class="auth-container">
    <div class="logo">
      <img src="../../assets/logo.png" alt="Givers & Takers Logo" width="100">
    </div>
      <h1>Reset your password</h1>
      <p>We'll send you instructions to reset your password.</p>
    <form>
      <input type="email" placeholder="Email Address" required>
      <button type="submit">Reset password</button>
    </form>

    <p class="text-center">
      <a [routerLink]="['/login']">Return to sign in</a>
    </p>
    <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
  </div>
</div>
