/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


* {
  font-family: 'Helvetica', Arial, sans-serif;
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container > * {
  flex-shrink: 0;
}

nav {
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
}
  

/* Default styles (desktop-first) */
body {
  font-size: 16px;
}

/* Tablet (e.g., iPads) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Mobile (e.g., iPhones) */
@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
}

.container {
  width: 90%; /* Adjusts width dynamically */
  max-width: 1200px; /* Limits to a maximum width */
}

img, video {
  max-width: 100%;
  height: auto;
}
