/* General styles for the navigation */
nav {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }

  .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    img {
      height: 50px;
    }
  }

  /* Button styles */
  .btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: #3b73e6;
    background-color: white;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;

    &:hover {
      opacity: 0.8;
      transform: scale(1.3); /* Increase size to 1.1x on hover */
    }
  }

  .account-menu {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;

    /* Show dropdown menu on hover */
    &:hover .dropdown-menu {
      display: flex;
    }
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    min-width: 160px;
  }

  /* Styling for dropdown items */
  .dropdown-item {
    padding: 8px 12px;
    color: #333; /* Set text color */
    text-decoration: none;
    background-color: transparent; /* No background */
    border: none; /* No border */
    width: 100%;
    text-align: left;
    cursor: pointer;
    font: inherit; /* Inherit font styling */
    display: block;
    transition: background-color 0.3s;

    /* Add hover effect for dropdown items */
    &:hover {
      background-color: #f0f0f0; /* Light background on hover */
      color: #333; /* Ensure text color is visible */
    }
  }

  /* Specific style for buttons inside dropdown */
  .dropdown-item button {
    color: #333; /* Text color */
    background-color: transparent; /* No background */
    border: none; /* No border */
    padding: 8px 12px; /* Same padding as links */
    text-align: left;
    cursor: pointer;
    font: inherit; /* Inherit font styling */
    width: 100%;
    display: block;

    /* Hover effect */
    &:hover {
      background-color: #f0f0f0;
      color: #333;
    }
  }


  .dropdown-item button:hover {
    background-color: #f0f0f0;
    color: #333; /* Ensures color remains visible on hover */
  }

}

/* Add padding to the main content to avoid being hidden under the navbar */
.main-content {
  padding-top: 80px;
}
